name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"] # Name of the CI workflow
    types:
      - completed

jobs:
  deploy:
    # This condition ensures the deploy job runs only if the CI workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v4
        with:
          ref: master 

      - name: Run deployment script
        run: ./autopublish.sh